* { box-sizing: border-box; }

@media screen { /* Mobile first */

	/* Screen styles only - separate from print styles */
	
	html, body {
		font: 100%/1.5 'Press Start 2P', 'Lucida Console', Monaco, monospace, serif;
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		background: #d9d7c5;
	}

	h1, h2, h3, h4, h5, h6, label, #instructions {
		font-family: 'Press Start 2P', 'Lucida Console', Monaco, monospace, serif;
		font-weight: normal;
		line-height: 1.1;
		color: #0c1200;
	}

	form input[type="text"], form input[type="email"], form textarea, form input[type="submit"] {
		font-family: 'Press Start 2P', 'Lucida Console', Monaco, monospace, serif;
		font-size: 1rem;
	}

	p, code, blockquote {  
		margin: 0 0 1.5rem;
		color: #17160a;
	}

	p {
		font-size: 1rem;
		line-height: 1.5;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		/*text-align: justify;*/
	}

	p+p { 
		margin-top: -0.75rem; 
	}

	code,
	pre {
		line-height: 1;
		font-family: 'Press Start 2P', 'Lucida Console', Monaco, monospace, serif;
		font-size: 1rem;
	}

	blockquote {
		font-style: italic;
		line-height: 1.125;
	}

	blockquote:before {
		content: "\201C";
		display: inline-block;
		padding-right: .4rem;
	}


	h1 { font-size: 2.5rem;		line-height: 1;		margin-bottom: 2.0rem; 		}
	h2 { font-size: 2rem;		line-height: 1.1; 	margin-bottom: 1.33333rem;	}
	h3 { font-size: 1.5rem;		line-height: 1.1;	margin-bottom: 1.0rem; 		}
	h4 { font-size: 1.25rem;	line-height: 1.1;	margin-bottom: 0.83333rem; 	}
	h5 { font-size: 1.125rem;	line-height: 1.1; 	margin-bottom: 0.75rem; 	}
	h6 { font-size: 1rem;		line-height: 1.1;	margin-bottom: 0.66667rem	}

	a { text-decoration: none; border: 1px solid transparent; }
	
	a:link {
		border-bottom: 1px solid blue;
		text-decoration: none;
	}

	a:visited {
		border-bottom: 1px solid purple;
	}

	a:hover {
		border-bottom: 1px solid transparent;
	}

	a:active { color: tomato; }
	a:focus, :focus { 
		border: 1px dotted tomato;
	 }

	strong { font-weight: bold; }
	em { font-style: italic; }
	sup { 
		font-size: 0.75rem; 
		vertical-align: top; 
		position: relative;
		top: -2px; 
	}

	hr {
		border: 0;
    	height: 1px;
    	background: #0c1200;
	    background: transparent -webkit-linear-gradient(left, rgba(12, 18, 0, 0), rgba(12, 18, 0, 0.75), rgba(12, 18, 0, 0));
	    background: transparent -o-linear-gradient(left, rgba(12, 18, 0, 0), rgba(12, 18, 0, 0.75), rgba(12, 18, 0, 0));
	    background: transparent linear-gradient(to right, rgba(12, 18, 0, 0), rgba(12, 18, 0, 0.75), rgba(12, 18, 0, 0));
	 }

	 ol { 
	 	list-style: decimal inside; 
	 }
	
	#content-wrapper {
		flex: 1 0 auto; 
		width: 100%; 
		max-width: 1280px;
		margin: 0 auto; 
		padding: 0;
	}

	#content-wrapper::before {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
		z-index: 2;
		background-size: 100% 2px, 3px 100%;
		pointer-events: none;
	}

	#content-wrapper::after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(18, 16, 16, 0.1);
		opacity: 0;
		z-index: 2;
		pointer-events: none;
	}

	header, footer {
		text-align: center;
		padding: 2.25rem 1.25rem;
		background: #0e0e0e;

	}

	header h1, footer p { 
		margin: 0 auto;
		color: #efefef; 
	}

	header {
		margin-top: 1rem;
		border: 1px solid lime;
		border-radius: 15px 15px 0 0;
	}

	#instructions, #setup, #stats, #gameOver {
		padding: 2.25rem 1.25rem;
	}

	#instructions ol, #setup ol {
		margin-bottom: 1.5rem;
	}

	#onTrail {
		background: #0e0e0e;
		color: lime;
		border-radius: 0 0 15px 15px;
	}

	#eventImage, #wagonImage {
		width: 50%;
		float: left;
		border-bottom: 45px solid lime;
	}

	#eventImage img, #wagonImage img {
		display: block;
		width: 100%;
		height: auto;
		max-width: 320px;
		margin: 0 auto;
	}

	#eventImage {
		border-left: 1px solid lime;
	}
	#wagonImage {
		border-right: 1px solid lime;
	}

	#trailText{
		clear: both;
		border: 0;
		padding: 2.25rem;
		text-align: center;
		border-left: 1px solid lime;
		border-right: 1px solid lime;
	}

	#familyList, #wordDisplay { 
		display: table; 
		width: 100%;
	}

	#familyList li, #wordDisplay li { 
		display: table-cell; 
		vertical-align: middle; 
		width: 16.66666%;
		text-align: center;
		border-collapse: collapse;
		border: 1px solid lime;
		border-right: 0;
		padding: 1rem;
	}

	#familyList li:last-of-type, #wordDisplay li:last-of-type {
		border-right: 1px solid lime;
	}

	#familyList .alive {
		color: lime;
		border-color: lime;
	}

	#familyList .dead {
		color: darkred;
		border-color: darkred;
	}

	#userInput {
		color: #efefef;
		padding: 1.25rem;
		border: 1px solid lime;
		border-top: 0;
		border-radius: 0 0 15px 15px;
	}
	
} /* End Main Screen */