* { box-sizing: border-box; }

@media screen { /* Mobile first */

	/* Screen styles only - separate from print styles */
	
	html, body {
		font: 100%/1.5 'Press Start 2P', 'Lucida Console', Monaco, monospace, serif;
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		background: #d9d7c5;
	}

	h1, h2, h3, h4, h5, h6, label, #instructions {
		font-family: 'Press Start 2P', 'Lucida Console', Monaco, monospace, serif;
		font-weight: normal;
		line-height: 1.1;
		color: #0c1200;
	}

	form input[type="text"], form input[type="email"], form textarea, form input[type="submit"] {
		font-family: 'Press Start 2P', 'Lucida Console', Monaco, monospace, serif;
		font-size: 1rem;
	}

	p, code, blockquote {  
		margin: 0 0 1.5rem;
		color: #17160a;
	}

	p {
		font-size: 1rem;
		line-height: 1.5;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		/*text-align: justify;*/
	}

	p+p { 
		margin-top: -0.75rem; 
	}

	code,
	pre {
		line-height: 1;
		font-family: 'Press Start 2P', 'Lucida Console', Monaco, monospace, serif;
		font-size: 1rem;
	}

	blockquote {
		font-style: italic;
		line-height: 1.125;
	}

	blockquote:before {
		content: "\201C";
		display: inline-block;
		padding-right: .4rem;
	}


	h1 { font-size: 3rem;		line-height: 1;		margin-bottom: 2.0rem; 		}
	h2 { font-size: 2rem;		line-height: 1.1; 	margin-bottom: 1.33333rem;	}
	h3 { font-size: 1.5rem;		line-height: 1.1;	margin-bottom: 1.0rem; 		}
	h4 { font-size: 1.25rem;	line-height: 1.1;	margin-bottom: 0.83333rem; 	}
	h5 { font-size: 1.125rem;	line-height: 1.1; 	margin-bottom: 0.75rem; 	}
	h6 { font-size: 1rem;		line-height: 1.1;	margin-bottom: 0.66667rem	}

	a { text-decoration: none; border: 1px solid transparent; }
	
	a:link {
		border-bottom: 1px solid blue;
		text-decoration: none;
	}

	a:visited {
		border-bottom: 1px solid purple;
	}

	a:hover {
		border-bottom: 1px solid transparent;
	}

	a:active { color: tomato; }
	a:focus, :focus { 
		border: 1px dotted tomato;
	 }

	strong { font-weight: bold; }
	em { font-style: italic; }
	sup { 
		font-size: 0.75rem; 
		vertical-align: top; 
		position: relative;
		top: -2px; 
	}

	hr {
		border: 0;
    	height: 1px;
    	background: #0c1200;
	    background: transparent -webkit-linear-gradient(left, rgba(12, 18, 0, 0), rgba(12, 18, 0, 0.75), rgba(12, 18, 0, 0));
	    background: transparent -o-linear-gradient(left, rgba(12, 18, 0, 0), rgba(12, 18, 0, 0.75), rgba(12, 18, 0, 0));
	    background: transparent linear-gradient(to right, rgba(12, 18, 0, 0), rgba(12, 18, 0, 0.75), rgba(12, 18, 0, 0));
	 }

	 ol { 
	 	list-style: decimal inside; 
	 }
	
	#content-wrapper {
		flex: 1 0 auto; 
		width: 100%; 
		margin: 0; 
		padding: 0;
		/*background: rgba(217,215,197,0.13);*/
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9d7c5+0,bcbbab+100&0.13+0,0.2+100 */
		background: -moz-linear-gradient(top, rgba(217,215,197,0.13) 0%, rgba(188,187,171,0.25) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(217,215,197,0.13) 0%,rgba(188,187,171,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(217,215,197,0.13) 0%,rgba(188,187,171,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21d9d7c5', endColorstr='#33bcbbab',GradientType=0 ); /* IE6-9 */
	}

	#onTrail {
		background: #0e0e0e;
		color: lime;
	}

	#eventImage, #wagonImage {
		width: 50%;
		float: left;
		border-top: 1px solid lime;
	}

	#trailText{
		clear: both;
		border-top: 1px solid lime;
	}

	#familyList, #wordDisplay { 
		display: table; 
		width: 100%;
	}
	#familyList li, #wordDisplay li { 
		display: table-cell; 
		vertical-align: middle; 
		width: 16.66666;
		text-align: center;
		border-collapse: collapse;
		border: 1px solid lime;
	}

	#familyList .male {
		
	}





} /* End Main Screen */